.nav {
    justify-content: end;
}
.logoHeader {
    height:auto;
    width:auto;
}
.jumbotron {
    margin: 20px;
    align-items: center;
    display: block; 
}
.container { 
    margin: 40px 20px;
    border: 50px;
    display: block;


}
.projectImages {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}